$app-background-color: #fff;

$primary-color: #11b0c8;
$secondary-color: #a9b1bd;

$opposite-primary-color: #fff;
$opposite-secondary-color: #fff;

$primary-text-color: #324b72;
$secondary-text-color: #a9b1bd;
$primary-incorrect-color: #de212b;

$opposite-primary-text-color: #fff;
$opposite-secondary-text-color: #fff;
