$xs-screen-width: 360px;
$sm-screen-width: 768px;
$md-screen-width: 992px;
$lg-screen-width: 1200px;
$xl-screen-width: 1920px;

$xs-globalHeaderBar-height: 135px;
$sm-globalHeaderBar-height: 135px;
$md-globalHeaderBar-height: 135px;
$lg-globalHeaderBar-height: 135px;
$xl-globalHeaderBar-height: 135px;
